{% extends 'base.html' %}

{% block title %}
ABOUT ME
{% endblock %}

{% block content %}
<h2>Hello! Myself Nayan Khanna. </h2>
<h4> I am a student at BITS Pilani and I am pursuing Msc. Mathematics + Btech CSE. I am a Mathematics lover and that's why I chose this course.
I have a keen interest in coding and I am full stack developer, more of a backend Developer. I am open for internships and projects.</h4>
<a href="https://github.com/nayan2000">
<br />  <br />  <label> GITHUB PROFILE : </label>
<br /> https://github.com/nayan2000 </a>
<a href="https://facebook.com/nayan.khanna.12">
  <br />  <br /><label> FACEBOOK PROFILE : </label>
<br /> https://facebook.com/nayan.khanna.12</a>
<a href="https://www.linkedin.com/in/nayankhanna/">
  <br />  <br /><label> LINKEDIN PROFILE : </label>
<br /> https://www.linkedin.com/in/nayankhanna/</a>
<br /><br />

<div class="aboutme">
<a  href="mailto:nayan1848@gmail.com" target="_top">
<br />  <br /><label> MAIL ME AT : </label>
<br /> nayan1848@gmail.com</a>
<br />
</div>
<p>
   Have a nice day!
</p>
{% endblock %}
