{% extends 'base.html' %}

{% block title %}
HOME PAGE
{% endblock %}

{% block nav %}
<ul>
<li><a class="active" href="#">Hello {{user.username }}</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
<li><a href="{% url 'signup' %}">Create a New Account</a></li>
<li><a href="{% url 'about' %}">About Me</a></li></ul>
{% endblock %}
{% block content %}
<div class="image-upload">
    <label for="file-input">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqV9NdKL5sLeya9zSDAjA4_JbsaGrlEwPBay2SjtJn7mzMtjEK" alt="User Image" align="left">
    </label>
<input id="file-input" type="file"/></div>
<p class="form-custom">
  <br /><br /> Welcome to the home page! Here's your profile:
  <br />  <br />  <label> FULL NAME : </label>
  <br /> {{ userinfo.get_full_name }}
  <br />  <br />  <label> EMAIL : </label>
  <br /> {{ userinfo.email }}
  <a href="{{ userinfo.github_profile }}">
  <br />  <br />  <label> GITHUB PROFILE : </label>
  <br /> {{ userinfo.github_profile }}</a>
  <a href="{{ userinfo.facebook_profile }}">
    <br />  <br /><label> FACEBOOK PROFILE : </label>
  <br /> {{ userinfo.facebook_profile }} </a>
  <a href="{{ userinfo.reddit_profile }}">
    <br />  <br /><label> REDDIT PROFILE : </label>
  <br /> {{ userinfo.reddit_profile }}</a>
  <a href="{{ userinfo.linkedin_profile }}">
    <br />  <br /><label> LINKEDIN PROFILE : </label>
  <br /> {{ userinfo.linkedin_profile }}</a>
  <br /><br />
</p>
{% endblock %}
