{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block nav %}
<ul>
<li><a class="active" href="{% url 'signup' %}">Create a New Account</a></li>
<li><a href="{% url 'login' %}">Have an Account? Login </a></li>
<li><a href="{% url 'about' %}">About Me</a></li></ul>
{% endblock %}
{% block content %}
  <h1 style="background-color: #4f3ace; color:#23efaa; text-align:center;"> SIGN UP</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="image-upload">
        <label for="id_image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqV9NdKL5sLeya9zSDAjA4_JbsaGrlEwPBay2SjtJn7mzMtjEK" alt="User Image" align="left">
        </label>
  <input id="id_image" type="file" name="image"/></div>
  <p class="form-custom" >{{ form.username.label_tag }} <br /> {{ form.username}}{% for error in form.username.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.f_name.label_tag }} <br /> {{ form.f_name }}{% for error in form.f_name.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.l_name.label_tag }} <br /> {{ form.l_name }}{% for error in form.l_name.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.email.label_tag }} <br /> {{ form.email }}{% for error in form.email.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.password1.label_tag }} <br />{{ form.password1}}{% for error in form.password1.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.password2.label_tag }} <br /> {{ form.password2}}{% for error in form.password2.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.github_profile.label_tag }} <br /> {{ form.github_profile }}{% for error in form.github_profile.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.reddit_profile.label_tag }} <br /> {{ form.reddit_profile }}{% for error in form.reddit_profile.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.facebook_profile.label_tag }} <br /> {{ form.facebook_profile }}{% for error in form.facebook_profile.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <p class="form-custom" >{{ form.linkedin_profile.label_tag }} <br /> {{ form.linkedin_profile }}{% for error in form.linkedin_profile.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
  <br/>
    <button class="button" style="vertical-align:middle" type="submit"><span> Sign Up </span></button>
  </form>
{% endblock %}
